@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https:////fonts.googleapis.com/css?family=Roboto);

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.square {
  min-height: 90%;
  min-width: 90%;
  position: fixed;
  left:5%;
  top:5%;
  height:auto;
  width:90%;
  border: double rgba(255, 255, 255, 0.72);
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  z-index: 2;
}

#main {
  height: 100%;
  width: 100%;
}

h3 {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 15px;
  font-weight: bold;
}


.box {
  z-index: 99;
  position: fixed;
  top: 25%;
  left:35%;
  width: 400px;
  padding: 20px;
  //background: rgb(255, 255, 255);
  overflow: hidden;
  //-moz-box-shadow: 10px 10px 0px gray;
  //-webkit-box-shadow: 10px 10px 0px gray;
  //box-shadow: 10px 10px 0px gray;
}

.menu {
  display: block;
  overflow: hidden;
  margin: 0px auto;
}


.btn {
  text-align-all: center;
  color: white;
  padding: 10px 12px;
  background-color: #333333;
  border: none;
  letter-spacing: 0.4px;
  line-height: 12px;
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;

  &:hover {
    color: #fff;
    background-color: #000000
  }
  &:focus {
    color: #fff;
    background-color: #000000
  }
}

.main-btn {
  margin-left: -6%;
  width: 120px;
  background-color: #3e3327;
  font-size: 35px;
  border-radius: 1px;
}
